<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senate Campaign Finance</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <script src="https://d3js.org/d3.v6.min.js"></script>
</head>

<body>
    <div class="container-fluid full-width div">
        <!-- <div class="container full-width div"> -->
        <div class="jumbotron clearfix my-auto">
            <!--<div class="container full-width div"><!--</div>fluid d-flex h100 flex-column">-->
            <div id="row-1" class="row">
                <!-- left side-->
                <div id="col-1A" class="col-3">
                    <div id="1A-row" class="row">
                        <!-- Content -->
                        <div id="a" class="col-12">
                            <p> Menu "Sed ut perspiciatis unde omnis iste natus
                                error sit voluptatem accusantium doloremque laudantium,
                                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis
                                et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                                voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
                                ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia
                                dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
                                incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima
                                veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
                                ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate
                                velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo
                                voluptas nulla pariatur?" "Sed ut perspiciatis unde omnis iste natus error sit
                                voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                                inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                                magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
                                dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam
                                eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut
                                enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
                                nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in
                                ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum
                                fugiat quo voluptas nulla pariatur?"Menu "Sed ut perspiciatis unde omnis iste natus
                                error sit voluptatem accusantium doloremque laudantium,
                                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis
                                et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                                voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
                                ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia
                                dolor sit amet,dolores eos qui
                                ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quiaNeque
                                porro quisquam est, qui dolorem ipsum quia totam rem aperiam, eaque ipsa quae ab illo
                                inventore veritatis
                                et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                                voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui
                                ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia
                                dolor sit amet,dolores eos qui
                                ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quiaNeque
                                porro quisquam est, qui dolorem ipsum quia dolor sit amet,dolores eos qui
                                ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quiaNeque
                                porro quisquam est, qui dolorem ipsum quia Neque porro quisquam est, qui dolorem ipsum
                                quiaNeque
                                porro quisquam est, qui dolorem ipsum</p>
                            <div id="menu">
                            </div>
                            <!-- Piece A white-->
                        </div>
                    </div>
                </div>
                <!--right side-->
                <div id="col-1B" class="col-9">
                    <div id="1B-row" class="row">
                        <div id="b" class="col-12">
                            <!-- Content -->
                            <!-- Row 1/Top Right NavBar-->
                            <div id="C-row" class="row">
                                <div id="c" class='col-12 d-flex'>
                                    <p>NavBar 30px H</p>
                                    <div id='navBar'>
                                    </div>
                                </div>
                            </div>


                            <!-- Row 2/Middle Right 3 Graphs Split-->
                            <div id="D-row" class="row">

                                <!-- US States Chloropleth Map-->
                                <div id="D-col-1" class="col-9">

                                    <div id="D-row-1" class="row">
                                        <div id="D-col-1a" class="col-12 justify-content-center d-flex">
                                            <p>Cholorpleth Map</p>
                                            <div id=" USA_Map"></div>
                                        </div>
                                    </div>
                                </div>

                                <!--Split Col Votes Table & Pie Chart-->
                                <div id="D-col-2" class="col-3">

                                    <!-- Votes Table-->
                                    <div id="D-row-2a" class="row">
                                        <div id="D-col-2a" class="col-12">
                                            <p>Max Votes</p>
                                            <div id="votersTable">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">First</th>
                                                            <th scope="col">Last</th>
                                                            <th scope="col">Votes</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">1</th>
                                                            <td>Diane</td>
                                                            <td>Feinstein</td>
                                                            <td>2M</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">2</th>
                                                            <td>Chuck</td>
                                                            <td>Grassley</td>
                                                            <td>1.8M</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">3</th>
                                                            <td>Senator</td>
                                                            <td>LastName</td>
                                                            <td>1.5M</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Pie Chart-->
                                    <div id="D-row-2b" class="row">
                                        <div id="D-col-2b" class="col-12 d-flex">
                                            <div id="PieChart">
                                                <p>PieChart</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Row 3/Bottom Two Maps Split-->
                            <div id="E-row" class="row">
                                <div id="E-col-1" class="col-6 justify-content-center">
                                    <p>Total Contributions Bar Graph</p>
                                    <div id="TotalContributions">
                                        <p></p>
                                    </div>
                                </div>
                                <div id="E-col-2" class="col-6 justify-content-center">
                                    <p>Highest Contributions Table</p>
                                    <div id="HighestContributions">
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
</script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="../static/js/app.js"></script>

</html>